.card {
  position: relative;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

  &__img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  &__description {
    @include flex-row-ja(space-between, center);
    height: 30%;
    padding: 0 22px 0 12px;

  }

  &__div {
    @include flex-column;
    row-gap: 6px;

  }

  &__heading {

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__text {
    font-size: calc_em(17px);
    font-weight: $light;
    text-transform: capitalize;

    &--raw {
      text-transform: none;
    }
  }

  &__new {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 10px 12px;
    font-size: calc_em(14px);
    font-weight: $semi-bold;
    color: $new-color;
    background-color: $tertiary-color;

    &--hidden {
      display: none;
    }
  }
}