.like {
  position: relative;
  width: 24px;
  height: 24px;

  &--home {
    @include position($r: 25px, $b: 24px);
  }

  &__icon {
    @include position;
    opacity: 1;
    transition: opacity 500ms ease-out;

    &:hover {
      opacity: 0;
    }

    &--checked {
      opacity: 0;
      transition: opacity 500ms ease-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}