.loader {
  @include position($t: 366px, $l: calc(50% - 41px));
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 16px solid $primary-color;
  box-shadow: 0 0 12px 1px $primary-color;
  animation: opac 1ms linear 2.25s both;

  &::after {
    content: "";
    @include position($t: -25px, $l: -25px);
    border-radius: 50%;
    z-index: -1;
    background-image: linear-gradient($primary-color, $secondary-color);
    animation: pulse 750ms ease-out 3;
  }

  @media (min-width: $min-desktop-width) {
    top: 340px;
  }
}
