.meal {
  @include flex-row-ja(space-between, center);
  height: 66px;
  padding-left: 12px;
  background-color: $no-color;
  box-shadow: 0px 0px 12px $gradient-color1;
  border-radius: 15px;
  opacity: 0;
  animation-name: progress-menu;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-duration: 1s;
  overflow: hidden;

  &:hover {

    &>.meal__layout {
      width: 82%;
    }

    &>.meal__select {
      width: 58px;

      &>.meal__icon {
        transform: rotate(360deg);
      }
    }
  }

  &--two {
    animation-delay: 250ms;
  }

  &--three {
    animation-delay: 500ms;
  }

  &__layout {
    @include flex-column;
    width: 100%;
    transition: width 500ms;
  }

  &__heading {
    font-size: calc_em(18px);
    font-weight: $semi-bold;
    line-height: 1.4;
    padding-right: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__div {
    @include flex-row-ja(space-between, baseline);
    padding-right: 20px;
  }

  &__desc {
    font-size: calc_em(15px);
    font-weight: $light;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__price {
    font-size: calc_em(15px);
    font-weight: 900;
    line-height: 1.3;
  }

  &__select {
    width: 0;
    height: 100%;
    background-color: $tertiary-color;
    border: none;
    border-radius: 0 15px 15px 0;
    font-size: calc_em(20px);
    transition: all 500ms ease-out;

  }

  &__icon {
    color: $no-color;
    transform: rotate(0deg);
    transition: transform 500ms ease-out;
  }
}