 * {
   font-family: 'Roboto', sans-serif;
 }

 %no-pad-marg {
   margin: 0;
   padding: 0;
 }

 body {
   @extend %no-pad-marg;
   font-size: $base_font-size;
   line-height: 1;
 }

 @each $selector in $selectors {
   #{$selector} {
     @extend %no-pad-marg;
   }
 }

 a {
   text-decoration: none;
   color: $neutral;
 }