* {
  font-family: Roboto;
}

%no-pad-marg {
  margin: 0;
  padding: 0;
}

body {
  @extend %no-pad-marg;
  font-size: 16px;
  line-height: 1;
}

@each $heading in $headings {
  #{$heading} {
    @extend %no-pad-marg;
  }
}

p {
  @extend %no-pad-marg;
}

a {
  text-decoration: none;
  color: $neutral;
}