// mixins for flexbox display
// j stand for justify-content option
// a stand for align-items option
// and ja for both

@mixin flex-row-j($justify) {
  display: flex;
  justify-content: $justify;
}

@mixin flex-row-a($align) {
  display: flex;
  align-items: $align;
}

@mixin flex-row-ja($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-j($justify) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
}

@mixin flex-column-a($align) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

@mixin flex-column-ja($justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin purple-heart {
  font-size: calc_em(24px);
  color: $light-ground;
  text-shadow: -1px 0 $neutral, 0 1px $neutral, 1px 0 $neutral, 0 -1px $neutral;

  &:active {
    text-shadow: none;
    border: none;
    background-image: linear-gradient($primary-color, $secondary-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

@mixin purple-button($side-padding: 20px) {
  color: $light-text;
  align-self: center;
  background: linear-gradient(350deg, $primary-color, $secondary-color);
  font-size: calc_em(16px);
  font-weight: $semi-bold;
  height: 50px;
  padding: 0 $side-padding;
  border: none;
  border-radius: 24px;
  box-shadow: 0 5px 5px $shadow-color;

  &:hover {
    background: linear-gradient(350deg, $primary-color, 40%, $secondary-color);
    box-shadow: 0 5px 5px 2px $shadow-color;

  }
}