// mixins for flexbox display
// j stands for justify-content option
// a stands for align-items option
// and ja for both

@mixin flex-row-j($justify) {
  display: flex;
  justify-content: $justify;
}

@mixin flex-row-a($align) {
  display: flex;
  align-items: $align;
}

@mixin flex-row-ja($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-j($justify) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
}

@mixin flex-column-a($align) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

@mixin flex-column-ja($justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

/// Position mixin:
/// @param {String} $p [absolute] - absolute or relative
/// @param {Number} $t - top position
/// @param {Number} $r - right position
/// @param {Number} $b - bottom position
/// @param {Number} $l - left position

@mixin position($p: absolute, $t: "", $r: "", $b: "", $l: "") {
  position: #{$p};

  @if $p == absolute or $p == relative {
    @if $t {
      top: #{$t};
    }

    @if $r {
      right: #{$r};
    }

    @if $b {
      bottom: #{$b};
    }

    @if $l {
      left: #{$l};
    }
  }

  @if $p == absolute and $t == "" and $r == "" and $b == "" and $l == "" {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
