// Colors 
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$neutral: #000000;

// Font

// family
$heading-font: Shrikhand;
$text-font: Roboto, sans-serif;

// weight
$thin: 100;
$normal: 400;
$semi-bold: 500;
$bold: 700;

// headings list
$headings: (
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
);