// colors 
$primary-color: #9356DC;
$lighten-primary: #f5edff;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$neutral: #000000;
$gradient-color1: #CECECE;
$gradient-color2: #EAEAEA;
$dark-ground: #EAEAEA;
$light-ground: #F7F7F7;
$light-text: #FFFFFF;
$no-color: #FFFFFF;
$shadow-color: #C7C7C7;
$howto-colors: #7e7e7e;
$footer-color: #353535;
$new-color: #008766;

// font family
$heading-font: Shrikhand;
$text-font: Roboto, sans-serif;

// weight
$thin: 100;
$light: 300;
$normal: 400;
$semi-bold: 500;
$bold: 700;
$xbold: 900;

// Default font size
$base_font-size: 16px;

// Selector list for padding and margin reset
$selectors: (
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  body,
  p,
  ol,
  ul,
  button
);

// media query min-width
$min-width: 1024px;