// Colors 
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

// Font

// family
$heading-font: Shrikand;
$text-font: Roboto, sans-serif;

// weight
$normal: 400;
$semi-bold: 500;
$bold: 700;