.footer {
  @include flex-column;
  row-gap: 22px;
  padding: 24px 0 34px 22px;
  background-color: $footer-color;
  color: $light-text;

  @media (min-width: $min-width) {
    flex-direction: row-reverse;
    column-gap: 90px;
    padding-right: 3%;
  }

  &__home {
    font-family: $heading-font;
    font-size: calc_em(18px);
    color: $no-color;
  }

  &__container {
    @include flex-column;
    row-gap: 10px;

    @media (min-width: $min-width) {
      flex-direction: row;
      column-gap: 40px;
    }
  }

  &__list {
    @include flex-column;
    row-gap: 10px;
    list-style: none;

    @media (min-width: $min-width) {
      flex-direction: row;
      column-gap: 20px;
    }
  }

  &__links {
    display: flex;
    color: $light-text;
  }

  &__icons {
    font-size: calc_em(14px);
    width: 24px;

    &--rotate {
      font-size: calc_em(11px);
      transform: translateY(-2px) rotate(-45deg);
    }
  }

}