.footer {
  @include flex-column;
  row-gap: 22px;
  padding: 24px 0 34px 22px;
  background-color: $footer-color;
  color: $light-text;

  &__text {
    font-family: $heading-font;
    font-size: calc_em(18px);
  }

  &__container {
    @include flex-column;
    row-gap: 10px
  }

  &__list {
    @include flex-column;
    row-gap: 10px;
    list-style: none;
  }

  &__links {
    display: flex;
    color: $light-text;
  }

  &__icons {
    font-size: calc_em(14px);
    width: 24px;

    &--rotate {
      font-size: calc_em(11px);
      transform: translateY(-2px) rotate(-45deg);
    }
  }

}