.search-form {
  @include flex-column;
  row-gap: 33px;
  background-color: $light-ground;
  padding-bottom: 55px;

  &__label {
    @include flex-row-ja(center, baseline);
    column-gap: 1em;
    background-color: $dark-ground;
    border-image: linear-gradient($gradient-color1, $gradient-color2) 100;
    border-width: 4px 0 0 0;
    border-style: solid;
  }

  &__icon {
    font-size: calc_em(18px);
    margin-left: 32px;
  }

  &__input {
    height: 46px;
    font-size: calc_em(16px);
    font-weight: $normal;
    width: 176px;
    background-color: $dark-ground;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__info {
    align-self: center;
    @include flex-column-a(center);
    row-gap: 20px;
    text-align: center;
    margin-top: 10px;
  }

  &__heading {
    font-size: calc_em(24px);
    width: 75%;

    @media (min-width: $min-width) {
      font-size: calc_em(40px);
      width: 100%;
    }
  }

  &__text {
    font-size: calc_em(18px);
    font-weight: $light;
    width: 85%;
  }
}