.search-form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  &__label {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 1em;
    background-color: $dark-ground;
    border-image: linear-gradient($gradient-color1, $gradient-color2) 100;
    border-width: 4px 0 0 0;
    border-style: solid;
  }

  &__icon {
    font-size: 19px;
    margin-left: 32px;
  }

  &__input {
    height: 46px;
    font-size: 18px;
    font-weight: $semi-bold;
    width: 11em;
    background-color: $dark-ground;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__heading,
  &__text {
    width: 75%;
  }

  &__text {
    font-weight: $thin;
  }
}