.search-form {
  @include flex-column;
  row-gap: 33px;
  background-color: $light-ground;
  padding-bottom: 55px;

  &__label {
    @include flex-row-ja(center, baseline);
    column-gap: 1em;
    background-color: $dark-ground;
    border-image: linear-gradient($gradient-color1, $gradient-color2) 100;
    border-width: 4px 0 0 0;
    border-style: solid;
  }

  &__icon {
    font-size: calc_em(18px);
    margin-left: 32px;
  }

  &__input {
    height: 46px;
    font-size: calc_em(16px);
    font-weight: $semi-bold;
    width: 176px;
    background-color: $dark-ground;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__info {
    align-self: center;
    @include flex-column-a(center);
    row-gap: 20px;
    width: 76%;
    text-align: center;
    margin-top: 10px;
  }

  &__heading {
    font-size: calc_em(24px);
  }

  &__text {
    font-size: calc_em(17px);
    font-weight: $thin;
  }

  &__button {
    color: $light-text;
    align-self: center;
    background: linear-gradient(350deg, $primary-color, $secondary-color);
    font-size: calc_em(16px);
    font-weight: $semi-bold;
    height: 50px;
    width: max-content;
    padding: 0 20px;
    border: none;
    border-radius: 24px;
    box-shadow: 0 5px 5px $shadow-color;
  }
}