.header {
  display: flex;
  justify-content: start;
  padding: 20px 49.25px 6px 0;

  &--home {
    padding-right: 0;
    justify-content: center;
  }

  &__back {
    font-size: 1.375em;
    margin-left: 30px;
  }

  &__logo {
    margin: auto;
  }
}