.header {
  display: flex;
  padding: 24px 49.25px 12px 0;

  &--home {
    padding-right: 0;
    justify-content: center;
  }

  &__back {
    font-size: calc_em(22px);
    margin-left: 22px;
  }

  &__logo {
    margin: auto;
  }

  &__image {
    @media (min-width: $min-width) {
      width: 200px;
      height: 34px;
    }
  }
}