.header {
  display: flex;
  padding: 22px 49.25px 12px 0;

  &--home {
    padding-right: 0;
    justify-content: center;
  }

  &__heading {
    height: 26px;
  }

  &__back {
    font-size: 1.375em;
    margin-left: 30px;
  }

  &__logo {
    margin: auto;
  }
}