.howto {
  @include flex-column;
  row-gap: 30px;
  padding: 0 20px 15px 20px;

  @media (min-width: $min-width) {
    padding-left: 10%;
    padding-right: 10%;
  }


  &__list {
    @include flex-column;
    row-gap: 20px;
    list-style: none;
    counter-reset: bullets;

    @media (min-width: $min-width) {
      flex-direction: row;
      column-gap: 30px;
      justify-content: space-between;
    }

  }

  &__items {
    @include flex-row-a(center);
    column-gap: 20px;
    height: 74px;
    width: 100%;

    &::before {
      font-size: calc_em(13px);
      font-weight: $semi-bold;
      color: $light-text;
      padding: 5px 8px;
      background-color: $primary-color;
      border-radius: 12px;
      counter-increment: bullets;
      content: counter(bullets);
    }

    &:hover {
      .howto__div {
        background-color: $lighten-primary;

        .howto__icons {
          color: $primary-color;
        }
      }
    }
  }

  &__div {
    @include flex-row-a(center);
    column-gap: 20px;
    height: 74px;
    width: 100%;
    margin-left: -30px;
    background-color: $light-ground;
    box-shadow: 6px 6px 12px 2px $gradient-color2;
    border-radius: 20px;
    z-index: -1;

    @media (min-width: $min-width) {
      column-gap: 10px;
    }
  }

  &__icons {
    font-size: calc_em(20px);
    text-align: center;
    width: 20px;
    margin-left: 30px;
    color: $howto-colors;

    @media (min-width: $min-width) {
      width: initial;
    }
  }

  &__text {
    font-weight: $semi-bold;
  }
}