.main {
  @include flex-column;

  &--home {
    row-gap: 50px;
    background-color: transparent;
  }

  &__heading-div {
    margin-bottom: -50px;
  }

  &__img {
    width: 100%;
    height: 266px;
    object-fit: cover;
  }

  &__container {
    @include flex-column;
    row-gap: 36px;
    padding: 40px 0;
    background-color: $light-ground;
    border-radius: 40px 40px 0 0;

    @media (min-width: $min-width) {
      margin: 0 13%;
      padding: 40px 13% 40px 13%;
    }
  }

  &__title {
    @include flex-row-ja(space-between, center);
    margin: 0 10px;

    @media (min-width: $min-width) {
      justify-content: center;
      column-gap: 24px;
    }
  }

  &__heading {
    font-size: calc_em(28px);
    font-weight: $normal;
    font-family: $heading-font;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__icon-color {

    padding-right: 30px;
    @include purple-heart;
  }

  &__sections {
    @include flex-column;
    row-gap: 40px;
    margin: 0 10px;
  }

  &__button {
    @include purple-button;
  }
}