.main {
  @include flex-column;

  &--home {
    row-gap: 50px;
  }

  &__heading-div {
    margin-bottom: -50px
  }

  &__img {
    width: 105%
  }

  &__container {
    @include flex-column;
    row-gap: 36px;
    padding-top: 40px;
    background-color: $light-ground;
    border-radius: 40px
  }

  &__title {
    @include flex-row-ja(space-between, center);
    margin: 0 10px;
  }

  &__heading {
    font-size: calc_em(28px);
    font-weight: $normal;
    font-family: $heading-font;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__icon-color {

    font-size: calc_em(24px);
    color: $light-ground;
    text-shadow: -1px 0 $neutral, 0 1px $neutral, 1px 0 $neutral, 0 -1px $neutral;
    padding-right: 30px;

    &:active {
      text-shadow: none;
      border: none;
      background-image: linear-gradient($primary-color, $secondary-color);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  &__sections {
    @include flex-column;
    row-gap: 40px;
    margin: 0 10px;
  }
}